@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
}


.bg-white {
    background-color: #F8F8FB;
}

.bg-red {
    background-color: #BA181B !important;
}

.text-red {
    color: #BA181B !important;
}

.text-grey {
    color: #0B090A;
}

.text-grey:hover {
    color: #BA181B !important;
}

.text-blue {
    color: #2B2E4A;
}

.tile {
    background-image: url('/images/tile.png');
    min-height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}


.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #BA181B !important;
}

img {
    object-fit: cover;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.box-event p {
    line-height: 20px;
}

.text-title1 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.text-body1 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.text-subtitle1 {
    font-weight: 400;
    font-size: 10px;
    margin: 0;
}

.text-title2 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.text-body2 {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

.input-wrapper {
    position: relative;
    width: 271px;
}

.input-search {
    max-width: 465px;
    font-weight: 600;
    font-size: 18px;
    color: #2B2E4A;
    padding: 25px 20px 25px 60px;
    background-color: #F1F3FA;
    border: none;

}

.list-location {
    max-width: 450px;
}

input[type=search]:focus {
    outline: none;
}

.input-icon {
    color: #919ABA;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.map {
    width: 100%;
    min-height: 600px;
}

.list-event p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list-article p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

